*
{
    margin: 0;
    padding: 0;
}

.D1
{
    height: 90px;
    background-color: #e1a6af;
}

.D2
{
    height: 455px;
}

.D3
{
    height: 80px;
    background-color: #95abcc;
    color: wheat;
    text-align: center;
    text-decoration: wavy;
    font-weight: bolder;
}

.contenedor
{
    background-color: #e3b8a1;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.logo
{
    width: 195px;
	height: 80px;
    padding-left: 10px;
}

.canciones
{
    padding-top: 130px;
    padding-left: 10px;
    float: left;
}

.pelicula
{
    margin-top: 40px;
    float: right;
    margin-right: 25px;
    background-color: #faecbe;
    height: 350px;
    border-radius: 30px;
    

}

.trailer
{
    padding: 50px 15px;
    float: right;
}

.enlace
{
    float: right;
    text-align: unset;
    color: #95abcc;
    font-weight: bolder;
    padding: 25px;
    float: left;
}

.netflix
{
    width: 70px;
    height: 70px;
    margin: 70px;
}
